form {
  width: 100%;
}

form div[col-6] {
  float: left;
  margin: 5px;
  width: calc(50% - 10px);
}

form div[col-12] {
  float: left;
  margin: 5px;
  width: calc(100% - 10px);
}

form div label {
  font-weight: bold;
  display: block;
  font-size: 11px;
}

form div [ngModel] {
  width: 100%;
  border: 1px solid #999;
}

form div .ng-invalid {
  border: 1px solid red;
}

form div .error {
  margin-top: 5px;
  display: block;
  border-top: 1px dashed red;
  color: red;
  font-size: 13px;
  width: calc(100% - 10px);
}
