<form #form="ngForm" (ngSubmit)="submete(form)">
  <div col-6>
    <label>Nome</label>
    <input required maxlength="50" name="nome" [(ngModel)]="value.nome" />
  </div>

  <div col-6>
    <label>Cargo</label>
    <input required maxlength="25" name="cargo" [(ngModel)]="value.cargo" />
  </div>

  <div col-6>
    <label>Especialidades</label>
    <app-lista-valores required name="especialidades"
                       [(ngModel)]="value.especialidades" >
    </app-lista-valores>
  </div>

  <div col-6>
    <label>Sexo</label>
    <select required name="sexo" [(ngModel)]="value.sexo" >
      <option value="">Selecione</option>
      <option value="0">Masculino</option>
      <option value="1">Femino</option>
      <option value="2">Outros</option>
    </select>
  </div>


  <div col-12>
    <button [disabled]="form.invalid" type="submit">Submeter</button>
  </div>
</form>
