<form>
  <div>
    <label>Nome</label>
    <input name="nome" [(ngModel)]="value.nome" />
  </div>

  <div>
    <label>Cargo</label>
    <input name="cargo" [(ngModel)]="value.cargo" />
  </div>

  <div>
    <label>Especialidades</label>
    <select name="especialidades" multiple [(ngModel)]="value.especialidades" >
      <option value="Java">Java</option>
      <option value="Angular">Angular</option>
      <option value="EJB">EJB</option>
      <option value="JavsScript">JavsScript</option>
      <option value="C++">C++</option>
      <option value="PHP">PHP</option>
      <option value="C#">C#</option>
      <option value="Python">Python</option>
    </select>
  </div>

  <div>
    <label>Sexo</label>
    <select name="sexo" [(ngModel)]="value.sexo">
      <option value="0">Masculino</option>
      <option value="1">Feminino</option>
    </select>
  </div>

  <button type="submit">Submeter</button>
</form>
