:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

app-lista-desenvolvedores {
  width: 50%;
  display: block;
  float: left;
}

app-form-desenvolvedor {
  width: 50%;
  display: block;
  float: right;
}
